html {
    --gap-big: 20px;
    --gap-medium: 12px;
    --gap-small: 6px;
    --gap-tiny: 2px;

    --bg-main: #ffe4cf;
    --bg-image-mask: #4448;
    --bg-card: #fffc;

    --text-white: #fff;
    --text-white-pale: #fff8;
    --text-black: #000;
    --text-black-pale: #0008;
    --text-main: var(--text-black);

    --shadow-regular: 0 0 10px #0003;
    --shadow-emphasis-big: 0 4px 20px #0004;
    --shadow-emphasis-low: 0 2px 16px #0002;

    --rounding-regular: 8px;
    --rounding-small: 4px;
    --rounding-full: 1000px;
    --blur-backdrop-bg: .44vh;
}

body {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-size: 14px; font-family: sans-serif;
    
    background: url('../assets/bg-grass.jpg') var(--bg-main);
    background-size: cover;
    background-position: center center;
    color: var(--text-main);
}

main {
    width: 100vw; height: 100vh;
    backdrop-filter: blur(var(--blur-backdrop-bg));
    background: var(--bg-image-mask);
    overflow: clip;
    gap: 0 !important;
}



button,
input:not([type="checkbox"], input[type="radio"]),
textarea {
    min-height: 32px;
}

h1, h2, h3, p, span {
    margin: 0; padding: 0;
}

hr {
    width: 100% !important;
}

.text-clip {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hidden {
    display: none !important;
}



.flex-fullcol {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: var(--gap-medium);
}

.flex-fullrow {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    gap: var(--gap-medium);
}

.flex-center {
    display: flex;
    justify-content: center; align-items: center;
    gap: var(--gap-medium);
}

@media screen and (max-width: 720px) {
    .hidden-mediaSmall {
        display: none !important;
    }
}

@media screen and (min-width: 721px) {
    .hidden-mediaBig {
        display: none !important;
    }
}



::backdrop {
    backdrop-filter: blur(calc(var(--blur-backdrop-bg) / 2));
}

.card {
    display: flex; justify-content: start;
    background: var(--bg-card);
    margin: var(--gap-small); padding: var(--gap-small);
    border-radius: var(--rounding-regular);
    box-shadow: var(--shadow-emphasis-low);
    outline: none;
    border: none;
}

.card-adaptive {
    background: var(--bg-card);
    margin: var(--gap-small) auto; padding: var(--gap-big);
    border-radius: var(--rounding-regular);
    box-shadow: var(--shadow-emphasis-low);
    outline: none;
    border: none;
}
@media screen and (min-width: 721px) {
    .card-adaptive {
        min-width: 480px;
        margin: var(--gap-big) auto;
    }
}
