body {
    background: var(--bg-card);
}

#auth-wrapper section {
    margin: auto; padding: var(--gap-big);
    max-width: 480px;
}

@media screen and (min-width: 720px) {
    body {
        background: var(--bg-main);
    }

    #auth-wrapper section {
        background: var(--bg-card);
        margin: var(--gap-big) auto;
        border-radius: var(--rounding-regular);
        box-shadow: var(--shadow-emphasis-low);
    }
}
